<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
</head>
<body style="background-color:pink">
<body>
<form action = "http://localhost:5000/items" method = "post">
    <p>Item Name <input type="text" name="ItemName" /></p>
    <p>Item ID <input type="text" name="ItemID" /></p>
    <p>Quantity <input type="text" name="Quantity" /></p>
    <p>Price <input type="text" name="Qrice" /></p>
    <p><input type="submit" name="submit" /></p>
</form>
</body>
</html>
